$White: #ffffff;
$PictonBlue: #32b0ee;
$CaribbeanGreen: #0ed591;
$Porcelain: #e6e8e9;
$AquaHaze: #f4f7f9;
$Niagara: #0eb493;
$BlackPearl: #062033;
$BlueBayoux: #4d606e;
$SilverSand: #c3c6c7;

$colorNavA: $White;
$colorBorderLi: $PictonBlue;
$colorSpanH2: $CaribbeanGreen;
$colorP: $Porcelain;
$colorBGart: $AquaHaze;
$colorH4art: $Niagara;
$colorH1art: $BlackPearl;
$colorPart: $BlueBayoux;
$colorHeart: $SilverSand;
//
$SilverChalice: #9e9e9e;
$Red: #f00;

$buttons-padding: 10px;
$InputBorderColor: $SilverChalice;
$BorderColor: $SilverChalice;

$Atlantis: #a2ca28;
